.disclaimerContainer{
    width: 100%;
    text-align: left;
    background-color: var(--alt4);
    border-radius: 1rem;
    padding: 0% 1% 0% 1%;
}

.centerTitle {
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--sub-text);
    color: var(--alt1);
    background-color: var(--alt4);
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
}

.experienceContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 3px solid white;
}

/* !Override the previous css for the components*/
.rowReverse {
    flex-direction: row-reverse!important;
}

.reverseText {
    text-align: left!important;
}

/* reverse the column at 1235px */
@media screen and (max-width: 1235px) {
    .columnReverse {
        flex-direction: column-reverse!important;
    }
    .rowReverse {
        flex-direction: column-reverse!important;
    }
    .reverseText {
        text-align: center!important;
    }
}