.topContainer {
    height: 50%;
    width: auto;
    text-align: right;
}

.bottomContainer {
    height: 50%;
    width: auto;
    text-align: right;
}

@media screen and (max-width: 1235px) {

    .topContainer,
    .bottomContainer {
        text-align: center;
    }

    .image {
        max-width: 70vw;
    }

    .btn {
        display: none;
    }
}