.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 430px;
    position: relative;
}

.vector{
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 100vw;
    height: 100%;
    z-index: 0;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.subRow {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footerColumn1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footerColumn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 50%;
}

.footerText {
    font-family: var(--sub-text);
    font-size: 16px;
    text-align: center;
}

.navLink {
    text-decoration: none;
    color: white;
}

.badge{
    width: 100%;
    height: auto;
    border-radius: 60rem;

}

.badgeColumn{
    width: 15%;
    display: flex;
    margin: 1%;
}

.badgeRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 1235px) {
    .logo {
        height: 3rem;
        width: auto;
    }

    .subRow {
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .footerColumn2 {
        flex-direction: row;
        padding-bottom: 1%;
    }
}

@media screen and (max-width: 768px) {

    .container{
        height: 100vh;
    }
    .row{
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .footerColumn1{
        width: 100%;
        height: 25%;
    }
    .footerColumn2{
        width: 100%;
        height: 30%;
    }
    .vector {
        height: 80%;
        width: 650%;
    }
}

@media screen and (max-width: 500px) {
    .footerColumn2 {
        flex-direction: column;
        height: 50%;
    }
    .vector {
        height: 100%;
    }
    .badgeColumn{
        width: 25%;
    }
}