:root {

  /* Color Scheme */
  --primary1: #B83FFC;
  --primary2: #FC3F96;
  --primary3: #F63FFC;
  --primary4: #7A3FFC;
  --primary5: #FC473F;

  --alt1: #F993FC;
  --alt2: #725E7D;
  --alt3: #7D5E6C;
  --alt4: #675E7D;
  --alt5: #7D5F5E;

}


html,
body {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  background-color: var(--primary4);
  color: white;
  overflow-x: hidden;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

main {
  margin-left: 3%;
  margin-right: 3%;
}

/* global class to avoid renaming the class in every single css sheet */
.mainText {
  font-family: var(--main-text);
}
.subText {
  font-family: var(--sub-text);
}