.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100vw;
    height: 430px;
    position: relative;
}

.leftImage {
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30vw;
    height: auto;
}

.vector {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 72vw;
    height: auto;
}

.navRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vh;
    width: 70vw;
    max-height: auto;
    z-index: 2;
}

.mobileRow {
    display: flex;
    justify-content: flex-end;
    padding: 1%;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 72vw;
    height: auto;
    z-index: 2;
}

.mobileMenuToggle{
    border: transparent;
    background-color: transparent;
}

/* for small laptops or tablets that use a mouse */
.mobileMenuToggle:hover{
    cursor: pointer;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: pink;
    position: fixed;
}

.navLink {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1235px) {

    .vector{
        height: 50%;
        width: 80%;
    }

    .container {
        height: 25vh;
    }
}

@media screen and (max-width: 920px) {
    .leftImage {
        width: 40vw;
    }
}

@media screen and (max-width: 670px) {

    .vector{
        height: 60%;
    }
}

@media screen and (max-width: 590px) {

    .vector{
        height: 55%;
    }
}

@media screen and (max-width: 481px) {

    .vector{
        height: 40%;
    }
}

@media screen and (max-width: 355px) {

    .vector{
        width: 100%;
        height: 35%;
    }

    .leftImage {
        width: 50vw;
    }
}

@media screen and (max-width: 280px) {

    .vector{
        height: 40%;
    }
}