.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100vw;
    height: 430px;
    position: relative;
}

.leftImage {
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30vw;
    height: auto;
}

.vector {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 72vw;
    height: auto;
}

.navRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vh;
    width: 70vw;
    max-height: auto;
    z-index: 2;
}

.navLink {
    text-decoration: none;
    color: white;
}