.container {
    width: 100vw;
    height: 430px;
    position: relative;
}

.leftImage {
    z-index: 1;
    position: relative;
    width: 30vw;
    height: auto;
}

.vector {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 72vw;
    height: auto;
}