.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 91vw;
    height: 92.5vh;
    flex-shrink: 0;
}

/* change container behavior for smaller screens */

@media screen and (max-width: 1235px) {
    .container {
        flex-flow: column wrap;
        height: auto;
        justify-content: center;
    }
}