.articleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: var(--alt4);
    border-radius: 1rem;
}

.articleTitle {
    font-family: var(--main-text);
    font-size: 35px;
    color: var(--primary2);
}

.articleText {
    font-family: var(--sub-text);
    font-size: 25px;
    line-height: 150%;
}

.link{
    font-family: var(--main-text);
    text-decoration: none;
    color: white;
    background-color: var(--primary5);
    padding: 1%;
    border-radius: 2rem;
}

.link:hover{
    color: var(--primary5);
    background-color: white;
}