.topContainer {
    height: 50%;
    width: 100%;
    text-align: left;
}

.bottomContainer {
    height: 50%;
    width: 100%;
    text-align: left;
    background-color: var(--alt4);
    border-radius: 1rem;
    padding: 0% 1% 0% 1%;
}

.image{
    width: 100%;
    height: auto;
}

.btn{
    font-family: var(--main-text);
    font-size: 20px;
    color: white;
    background-color: var(--primary5);
    padding: 1% 10%;
    border-radius: 2rem;
    border: transparent;
    margin-top: 2%;
    text-decoration: none;
    text-align: center;
}

.btn:hover{
    cursor: pointer;
    color: var(--primary5);
    background-color: white;
}

@media screen and (max-width: 1235px) {

    .topContainer,
    .bottomContainer {
        text-align: center;
    }

}